@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-gray-blue: #01313f;
  --color-blue-border: #01c7fe;
  --color-gray-white: #ccc;
}

/* body {
  background-color: var(--color-gray-blue);
} */

html {
  scroll-behavior: smooth;
}


.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to top,
    rgba(1, 199, 254, 1),
    rgba(1, 49, 63, 1)
  );
  border-image-slice: 1;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.04);
}


.float-animation {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}

.moveUp-animation {
  animation: moveUp 3s ease-in-out infinite;
}

@keyframes moveUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

