@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-gray-blue: #01313f;
  --color-blue-border: #01c7fe;
}

/* body {
  background-color: var(--color-gray-blue);
} */

.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to top,
    rgba(1, 199, 254, 1),
    rgba(1, 49, 63, 1)
  );
  border-image-slice: 1;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.04);
}

.demo-border {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom,
    rgba(1, 199, 254, 1),
    rgba(229, 252, 255, 1)
  );
  border-image-slice: 1;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.04);
}
